<%= simple_form_for(@quote_request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :project %>
    <%= f.association :customer %>
    <%= f.input :requested_at %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
