<h1>Listing request_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quote request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_statuses.each do |request_status| %>
      <tr>
        <td><%= request_status.name %></td>
        <td><%= request_status.description %></td>
        <td><%= request_status.quote_request %></td>
        <td><%= link_to 'Show', request_status %></td>
        <td><%= link_to 'Edit', edit_request_status_path(request_status) %></td>
        <td><%= link_to 'Destroy', request_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request status', new_request_status_path %>
