<p id="notice"><%= notice %></p>

<p>
  <strong>Pieces:</strong>
  <%= @quote_request_item.pieces %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quote_request_item.description %>
</p>

<%= link_to 'Edit', edit_quote_request_item_path(@quote_request_item) %> |
<%= link_to 'Back', quote_request_items_path %>
