<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @egc_server_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @egc_server_type.description %>
</p>

<p>
  <strong>Quote request item server:</strong>
  <%= @egc_server_type.quote_request_item_server %>
</p>

<%= link_to 'Edit', edit_egc_server_type_path(@egc_server_type) %> |
<%= link_to 'Back', egc_server_types_path %>
