<h1>Listing os_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Egc server type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @os_types.each do |os_type| %>
      <tr>
        <td><%= os_type.name %></td>
        <td><%= os_type.description %></td>
        <td><%= os_type.egc_server_type %></td>
        <td><%= link_to 'Show', os_type %></td>
        <td><%= link_to 'Edit', edit_os_type_path(os_type) %></td>
        <td><%= link_to 'Destroy', os_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Os type', new_os_type_path %>
