<%= simple_form_for(@item_price) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :valid_from %>
    <%= f.input :valid_to %>
    <%= f.input :valid_price %>
    <%= f.association :vendor_item %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
