<%- model_class = ItemPrice -%>
<div class="page-header">
  <h1><%=t '.title', :default => ItemPrice %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:valid_from) %></th>
      <th><%= model_class.human_attribute_name(:valid_to) %></th>
      <th><%= model_class.human_attribute_name(:valid_price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @item_prices.each do |item_price| %>
      <tr>
        <td><%= item_price.id %></td>
        <td><%= item_price.valid_from %></td>
        <td><%= item_price.valid_to %></td>
        <td><%= item_price.valid_price %></td>
        <td><%=l item_price.created_at, format: :long %></td>
        <td>
          <%= link_to item_price_path(item_price), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to item_price_path(item_price), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_price_path,
            :class => 'btn btn-primary' %>
