<%- model_class = ItemPriceType -%>
<div class="page-header">
  <h1><%=t '.title', :default => ItemPriceType %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @item_price_types.each do |item_price_type| %>
      <tr>
        <td><%= item_price_type.id %></td>
        <td><%= item_price_type.name %></td>
        <td><%= item_price_type.description %></td>
        <td><%= item_price_type.active %></td>
        <td><%=l item_price_type.created_at, format: :long %></td>
        <td>
          <%= link_to item_price_type_path(item_price_type), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to item_price_type_path(item_price_type), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_price_type_path,
            :class => 'btn btn-primary' %>
