<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Account manager email:</strong>
  <%= @vendor.account_manager_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vendor.status %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
