<%- model_class = CustomerTaxZone -%>
<div class="page-header">
  <h1><%=t '.title', :default => CustomerTaxZone %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tax) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @customer_tax_zones.each do |customer_tax_zone| %>
      <tr>
        <td><%= customer_tax_zone.id %></td>
        <td><%= customer_tax_zone.name %></td>
        <td><%= customer_tax_zone.description %></td>
        <td><%= customer_tax_zone.tax %></td>
        <td><%=l customer_tax_zone.created_at, format: :long %></td>
        <td>
          <%= link_to customer_tax_zone_path(customer_tax_zone), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to customer_tax_zone_path(customer_tax_zone), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_customer_tax_zone_path,
            :class => 'btn btn-primary' %>
